html {
    scroll-behavior: smooth;
}

button {
    position: fixed;
    bottom: 10%;
    right: 1.5%;
    background-color: mediumseagreen;
    font-size: 2em;
    border: none;
    padding: 0;
    transition: 250ms;
    z-index: 1;
    border-radius: 10px;
}

button a {
    color: black;
    font-size: 1.5em;
}